.sku-add-picture {
    height: 150px;
    width: 150px;
    padding: 0.2rem;
    -ms-transition:0.4s;
    -o-transition:0.4s;
    -webkit-transition:0.4s;
    transition:0.4s;
}

.image-hover-enlarge:hover {
    height: 300px;
    width: 300px;
}

.delete-picture-box:hover > img {
    -ms-opacity: 0.8;+
    opacity: 0.8;
}

.delete-picture-icon:hover {
    color: darkred;
    cursor: pointer;
}

.select-picture {
    cursor:pointer;
}

.selected-picture {
    border: 5px solid #503ce9;
}

.image-hover-scale:hover {
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
    -ms-transition:0.2s;
    -o-transition:0.2s;
    -webkit-transition:0.2s;
    transition:0.2s;
}

.hover-scale:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    font-weight: bold;
}

.sku-list-picture {
    height: 150px;
    width: 150px;
    padding: 0.2rem;
   
}
