body {
    font-family: sans-serif;
}

/* Shop - Products */
.list-style-none {
    list-style: none;
    padding-left: 1rem;
}

.product {
    height: 20rem;
    width: 14rem;
}

#ajax-container {
    padding-top: 150px;
}

#product-div > a:link {
    text-decoration: none;
}


/* SKU detail view */

.sku-thumbnail {
    cursor: pointer;
    height: 150px;
    width: 120px;
}

.sku-thumbnail-active {
    opacity: 0.5;
}

.sku-thumbnail-box {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}

/* Size radio group */

#option {
    float: left;
}

#option label {
    cursor:pointer;
    float: left;
    width: 3.5rem;
    margin: 4px;
    background-color: #EFEFEF;
    overflow: hidden;
    -ms-border-radius:1rem;
    border-radius:1rem;
}

#option label span {
    text-align: center;
    font-weight: bold;
    padding: 1rem 0rem;
    display: block;
}

#option label input {
    position: absolute;
    top: -20px;
    display: none;
}

#option input:checked + span {
    background-color: #404040;
    color: #F7F7F7;
}

#option input:disabled + span {
    background-color: #000000;
    color:#b399ff
}

#option .blue {
    background-color: #00BFFF;
    color: #333;
}


/* Shopping cart */

.shopping-cart-summary-link:hover {
    text-decoration:none;
}


